@using CapstoneProject;

@model Tuple<Product, Supplements>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm item-photo">
            <img src="/src/images/product_@(Model.Item1.id).png" width="400" height="400"/>
        </div>
        <div class="col-sm">
            <h3>@Model.Item1.productName</h3>
            <div class="section" style="padding-bottom:20px;">
                <h5 style="color:#337ab7">Manufactured By <a href="@Model.Item2.productManufacturerLink" target="_blank">@Model.Item1.productManufacturer</a></h5>

                <h6 class="title-price"><small>Price</small> $@Model.Item1.productPrice</h6>

                <ul>
                    <li>Best By:  @Model.Item2.productExpirationDate</li>
                    <li>Shipping Weight:  @Model.Item2.productShippingWeight kg</li>
                    <li>Product Code:  @Model.Item2.productCode</li>
                    <li>UPC Code:  @Model.Item2.productUPCCode</li>
                    <li>Package Quantity:  @Model.Item2.productPckgQuantity count</li>
                    <li>Dimensions:  @Model.Item2.productDimensions</li>
                </ul>
            </div>
            @using (Html.BeginForm("AddToCart", "cart", FormMethod.Post))
            {
                <h6 class="title-attr"><small>Quantity</small></h6>
                @Html.TextBox("quantity", 1, new { @class = "form-control w-25", @value = "1", })
                <br/>
                @Html.Hidden("id", (int)Model.Item1.id, new { @class = "control-label" })
                <div class="section" style="padding-bottom:20px; text-align: right;">
                    <button class="btn btn-primary"> Add to Cart </button>
                </div>
            }
            </div>

        <div class="col-xs-9">
            <h3>Product Overview</h3>
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    <small>
                        @Model.Item2.productKeyWords
                    </small>
                </p>
                <p style="padding:15px;">
                    <small>
                        @Model.Item1.productDescription
                    </small>
                </p>
                <h3>Suggested use</h3>
                <p style="padding:15px;">
                    <small>
                        @Model.Item2.productSuggestedUse
                    </small>
                </p>
                <h3>Other ingredients</h3>
                <p style="padding:15px;">
                    <small>
                        @Model.Item2.productIngridients
                    </small>
                </p>
                <h3>Warnings</h3>
                <p style="padding:15px;">
                    <small>
                        @Model.Item2.productWarnings
                    </small>
                </p>
                <h3>Disclaimer</h3>
                <p style="padding:15px;">
                    <small>
                        @Model.Item2.productDisclaimer
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>